<template>
  <div class="time-off">
    <div class="time-off__timeline">
      <EmployeeList
        v-if="employees && employees.length > 0"
        :employees="employees"
        :hovered-index="hoveredIndex"
        @hover="onRowMouseMove($event)"
        @leave="onRowMouseMove($event, true)"
      />
      <div class="days">
        <div class="top">
          <MonthYearPicker
            :year.sync="year"
            :month.sync="month"
            :date="monthYear"
          />
          <div class="top__actions">
            <ElButton><Plus /> Apply</ElButton>
            <ElButton><FilterOutline /> Filter</ElButton>
          </div>
        </div>
        <div class="inner">
          <div
            :style="{ width: eventsHolderWidth }"
            class="events-holder"
            @mousemove="onEventBoxHover"
            @mouseleave="onEventBoxLeave"
          >
            <div
              v-for="(employee, index) in employees"
              :key="employee.id"
              class="events-row"
              ref="eventRows"
              @mouseover="hoveredIndex = index"
              @mouseleave="hoveredIndex = -1"
            >
              <div
                v-for="timeOff in employee.timeOffs"
                :key="timeOff.name"
                :class="`events-row__event_${timeOff.name.toLowerCase()}`"
                :style="getEventPosition(timeOff)"
                class="events-row__event"
              >
                <span>{{ getNameForDisplay(timeOff) }}</span>
              </div>
            </div>
          </div>
          <div v-for="day in daysInMonth" :key="day" class="day">
            <div class="day__top">
              <h1 class="day__number">{{ day }}</h1>
              <h1 class="day__text">{{ getDayOfMonth(day) }}</h1>
            </div>
            <div class="day__borders">
              <div v-if="isWeekend(day)" class="blocked-out-overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Avatar, Button } from "element-ui";
import moment from "moment";
import MonthYearPicker from "@/components/timeline/MonthYearPicker.vue";
import EmployeeList from "@/components/timeline/EmployeeList.vue";
import FilterOutline from "vue-material-design-icons/FilterOutline.vue";
import Plus from "vue-material-design-icons/Plus.vue";

@Component({
  components: {
    ElAvatar: Avatar,
    ElButton: Button,
    MonthYearPicker,
    EmployeeList,
    Plus,
    FilterOutline,
  },
})
export default class TimeOff extends Vue {
  hoveredIndex = -1;
  year = moment().year();
  month = moment().month();
  employees = [
    {
      id: 1,
      firstName: "Anika",
      lastName: "Lungrin-Gordon",
      department: "Cross Functional",
      timeOffs: [
        {
          name: "Vacation",
          from: 1,
          to: 10,
        },
        {
          name: "Maternity",
          from: 12,
          to: 30,
        },
      ],
    },
    {
      id: 2,
      firstName: "Dornicqah",
      lastName: "English",
      department: "Accession, Phlebotomy",
      timeOffs: [
        {
          name: "Sick",
          from: 8,
          to: 8,
        },
      ],
    },
    {
      id: 9,
      firstName: "Shadae",
      lastName: "Bernard",
      department: "Chemistry",
      timeOffs: [
        {
          name: "Sick",
          from: 13,
          to: 15,
        },
        {
          name: "Vacation",
          from: 0,
          to: 12,
        },
      ],
    },
  ];

  get monthYear() {
    return moment().set({ year: this.year, month: this.month });
  }

  get daysInMonth() {
    return moment(this.monthYear).daysInMonth();
  }

  get eventsHolderWidth() {
    return `${this.daysInMonth * 50}px`;
  }

  getDayOfMonth(day: number) {
    const date = this.monthYear.set({ date: day });
    return date.format("ddd");
  }

  isWeekend(day: number) {
    const date = this.monthYear.set({ date: day });
    return [0, 6].includes(date.day());
  }

  onEventBoxHover(e: MouseEvent) {
    const dayElements = document.getElementsByClassName("day");
    Array.from(dayElements).forEach((elm) => elm.classList.remove("hovered"));
    const dayColumn = this.getDayColumn(e);
    if (dayColumn) {
      dayColumn.classList.add("hovered");
    }
  }

  onEventBoxLeave() {
    const dayElements = document.getElementsByClassName("day");
    Array.from(dayElements).forEach((elm) => elm.classList.remove("hovered"));
  }

  onRowMouseMove(index: number, blur = false) {
    const rows = this.$refs.eventRows as HTMLElement[];
    if (rows && rows.length > 0) {
      const row = rows[index];
      if (blur) {
        row.classList.remove("hovered");
      } else {
        row.classList.add("hovered");
      }
    }
  }

  getDayColumn(e: MouseEvent) {
    const x = e.clientX;
    const y = e.clientY;
    const elementsMouseIsOver = document.elementsFromPoint(x, y);
    const dayColumn = elementsMouseIsOver.find((elm) => {
      return elm.classList.contains("day");
    });
    return dayColumn;
  }

  getEventPosition(timeOff: any) {
    const days = timeOff.to - timeOff.from;
    const start = timeOff.from * 50;
    const width = days === 0 ? 50 : (days + 1) * 50;
    return {
      left: `${start}px`,
      width: `${width - 10}px`,
    };
  }

  getNameForDisplay(timeOff: any) {
    const days = timeOff.to - timeOff.from;
    return days === 0 ? timeOff.name.substr(0, 1) : timeOff.name;
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/variables";

.time-off {
  width: 100%;
  height: 100%;

  &__timeline {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .days {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding-top: 15px;
      padding-left: 2px;
      overflow: hidden;

      .top {
        position: relative;

        &__actions {
          position: absolute;
          right: 20px;
          top: 0;
          height: 36px;

          button {
            padding: 0 12px 0 10px;
            height: inherit;
            border-radius: 3px;

            ::v-deep span {
              display: flex;
              align-items: center;

              span {
                display: inline-block;
                height: 20px;
                width: 20px;
                margin-right: 3px;

                svg {
                  fill: #888;
                  height: inherit;
                  width: inherit;
                }
              }
            }

            &:hover {
              svg {
                fill: #409eff;
              }
            }
          }
        }
      }

      .inner {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        margin-top: 15px;
        overflow: auto;
      }

      .events-holder {
        position: absolute;
        left: 0;
        top: 63px;
        bottom: 0;
        right: 0;
        overflow: hidden;

        .events-row {
          position: relative;
          z-index: 10;
          display: flex;
          width: 100%;
          height: 50px;
          background: transparent;
          transition: background 0.2s ease-out;

          &__event {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            display: flex;
            align-items: center;
            z-index: 10;
            width: 290px;
            height: 30px;
            padding: 0 15px;
            margin-left: 5px;
            border-radius: 30px;
            transition-property: transform, background, color;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;

            span {
              position: sticky;
              left: 5px;
              font-family: $nunito-font-family;
              font-weight: bold;
              font-size: 0.8em;
              color: rgba(#000, 0.6);
              transition: color 0.2s ease-out;
            }

            &:hover {
              cursor: pointer;
              transform: scale(1.01);
              box-shadow: rgba(#000, 0.08) 0 2px 3px;

              span {
                color: #fff;
              }
            }

            &_vacation {
              background: #b4efd4;

              &:hover {
                background: #31c269;
              }
            }

            &_sick {
              background: #efe9b4;

              &:hover {
                background: #d4c433;
              }
            }

            &_maternity {
              background: #d4b4ef;

              &:hover {
                background: #8d4ac4;
              }
            }
          }

          &:hover,
          &.hovered {
            background: rgba(#000, 0.05);
          }
        }
      }

      .day {
        display: flex;
        flex: 1 0 50px;
        flex-direction: column;
        width: 50px;

        &__top {
          flex: 0 1 auto;
          padding: 10px 0 6px 0;
          border-radius: 4px 4px 0 0;
          border: 1px solid transparent;
          border-bottom: none;
        }

        &__number {
          font-size: 0.95em;
          text-align: center;
        }

        &__text {
          font-size: 0.8em;
          font-weight: 400;
          text-align: center;
        }

        &__borders {
          position: relative;
          flex: 1 1 auto;
          border-left: 1px solid #f2f2f2;

          .blocked-out-overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(
              127deg,
              #e5e5e5 6.25%,
              #fff 6.25%,
              #fff 50%,
              #e5e5e5 50%,
              #e5e5e5 56.25%,
              #fff 56.25%,
              #fff 100%
            );
            background-size: 10.02px 13.29px;
          }
        }

        &:hover,
        &.hovered {
          .day__top {
            border-color: #e2e2e2;
          }

          .day__borders {
            border-right: 1px solid #f2f2f2;
            border-color: #e2e2e2;
          }
        }

        &:hover + .day,
        &.hovered + .day {
          .day__borders {
            border: none;
          }
        }
      }
    }
  }
}
</style>
