<template>
  <div class="main">
    <HeaderBar />
    <Sidebar />
    <div class="main__content">
      <transition
        name="router-fade"
        enter-active-class="animate__animated animate__fadeIn"
        leave-active-class="animate__animated animate__fadeOut"
        mode="out-in"
      >
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Sidebar from "@/components/Sidebar.vue";
import HeaderBar from "@/components/HeaderBar.vue";

@Component({
  components: {
    Sidebar,
    HeaderBar
  }
})
export default class Main extends Vue {}
</script>

<style lang="scss">
@import "../assets/styles/variables";

.main {
  &__content {
    position: fixed;
    z-index: 1000;
    left: $sidebar-width;
    top: $header-bar-height;
    bottom: 0;
    right: 0;
    min-width: 1100px;
    background: transparent;

    > div.animate__animated {
      animation-duration: 0.3s;
    }
  }
}
</style>
