<template>
  <div id="people">
    <DepartmentList />
    <PeopleList />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PeopleList from "@/components/people/PeopleList.vue";
import DepartmentList from "@/components/people/DepartmentList.vue";

@Component({
  components: {
    PeopleList,
    DepartmentList
  }
})
export default class People extends Vue {}
</script>

<style lang="scss" scoped>
#people {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
</style>
