<template>
  <div :class="holderClass">
    <label>{{ label }}</label>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class DepartmentForm extends Vue {
  @Prop({ type: String, required: true })
  label!: string;
  @Prop({ type: String, default: null })
  type!: "switch" | "select" | null;

  get holderClass() {
    const classes = ["control-holder"];
    if (this.type) {
      classes.push(`control-holder__${this.type}`);
    }
    return classes;
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/variables";

.control-holder {
  padding: 15px 0 0 0;
  animation-duration: 0.2s;

  label {
    display: block;
    font-family: $nunito-font-family;
    letter-spacing: 1.1px;
    margin-bottom: 5px;
  }

  ::v-deep .el-input__inner {
    border-radius: 2px;
    padding: 0 10px;
    height: 37px;
    line-height: 37px;
  }

  &__switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    label {
      margin: 0;
    }

    .el-switch {
      ::v-deep .el-switch__core {
        border-radius: 3px;

        &::after {
          border-radius: 3px;
        }
      }
    }
  }

  &__select {
    .el-select {
      width: 100%;

      ::v-deep .el-input {
        &.is-focus {
          .el-input__inner {
            border-radius: 2px 2px 0 0;
          }
        }
      }
    }
  }
}
</style>
