<template>
  <div class="header-bar">
    <div class="header-bar__left">
      <h1 class="header-bar__title">{{ pageTitle }}</h1>
      <transition enter-active-class="animate__animated animate__fadeIn" appear>
        <ElDropdown
          v-if="selectedCompany"
          :class="{ opened: companyMenuOpen }"
          trigger="click"
          @command="handleCompanyMenuCommand"
          @visible-change="companyMenuOpen = $event"
        >
          <ElButton type="primary">
            <h1>{{ selectedCompany.name }}</h1>
            <i class="el-icon-arrow-down el-icon--right"></i>
          </ElButton>
          <ElDropdownMenu slot="dropdown" class="company-menu">
            <ElDropdown-item :command="{ action: 'newCompany' }">
              Add Company
            </ElDropdown-item>
            <ElDropdown-item disabled divided>Companies</ElDropdown-item>
            <ElDropdown-item
              v-for="company in companies"
              :key="company.id"
              :class="{ selected: company.id === selectedCompany.id }"
              :command="{ action: 'selectCompany', company }"
            >
              {{ company.name }}
            </ElDropdown-item>
          </ElDropdownMenu>
        </ElDropdown>
      </transition>
    </div>
    <div class="header-bar__right">
      <ul class="header-bar__additional-links">
        <li>
          <ElBadge :is-dot="true" class="item">
            <ElButton><BellSvg /></ElButton>
          </ElBadge>
        </li>
        <li>
          <ElButton><FlagSvg /></ElButton>
        </li>
      </ul>
      <div class="header-bar__user-box">
        <ElDropdown
          :class="{ opened: userMenuOpen }"
          trigger="click"
          @command="handleUserMenuCommand"
          @visible-change="userMenuOpen = $event"
        >
          <ElButton type="primary">
            <ElAvatar :src="userImage" size="medium" alt="avatar" />
            <h1>{{ userDisplayName }}</h1>
            <i class="el-icon-arrow-down el-icon--right"></i>
          </ElButton>
          <ElDropdownMenu slot="dropdown" class="user-menu">
            <ElDropdown-item command="profile">Profile</ElDropdown-item>
            <ElDropdown-item command="settings">Settings</ElDropdown-item>
            <ElDropdown-item command="logout" divided>Logout</ElDropdown-item>
          </ElDropdownMenu>
        </ElDropdown>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  Avatar,
  Button,
  Badge,
  Select,
  Option,
  Dropdown,
  DropdownMenu,
  DropdownItem
} from "element-ui";
import BellSvg from "@/assets/svgs/bell.svg";
import FlagSvg from "@/assets/svgs/flag.svg";
import ICompany from "@/models/interfaces/company.interface";

@Component({
  components: {
    ElAvatar: Avatar,
    ElButton: Button,
    ElBadge: Badge,
    ElSelect: Select,
    ElOption: Option,
    ElDropdown: Dropdown,
    ElDropdownMenu: DropdownMenu,
    ElDropdownItem: DropdownItem,
    BellSvg,
    FlagSvg
  }
})
export default class HeaderBar extends Vue {
  userMenuOpen = false;
  companyMenuOpen = false;

  get selectedCompany() {
    return this.companies.find(
      (company: ICompany) => company.id === this.$store.state.companyId
    );
  }

  get companies() {
    return this.$store.state.companies;
  }

  get userImage() {
    return this.$store.getters["auth/imageUrl"];
  }

  get userDisplayName() {
    const { firstName, lastName } = this.$store.state.auth;
    if (firstName && lastName) {
      const firstLetter = firstName.substr(0, 1);
      return `${firstLetter}.${lastName}`;
    }
    return null;
  }

  get pageTitle() {
    return this.$store.state.pageTitle;
  }

  handleUserMenuCommand(command: string) {
    switch (command) {
      case "logout":
        this.$store.dispatch("auth/logout");
        break;
    }
  }

  handleCompanyMenuCommand({ action, company }: any) {
    switch (action) {
      case "selectCompany":
        if (company !== this.selectedCompany) {
          this.$store.commit("setCompanyId", company.id);
        }
        break;
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/styles/variables";

.header-bar {
  $self: &;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: $sidebar-width;
  right: 0;
  height: $header-bar-height;
  background: #fff;
  box-shadow: rgba(#000, 0.04) 0 3px 4px;

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;

    #{$self}__title {
      margin-left: 20px;
      font-family: $nunito-font-family;
      font-size: 1em;
      font-weight: 200;
      letter-spacing: 1.1px;
      color: #444;
    }

    > span {
      font-weight: 200;
      margin: 0 0 0 15px;
    }

    .el-dropdown {
      animation-duration: 0.2s;
      height: $header-bar-height;
      margin-left: 10px;

      button {
        height: inherit;
        padding: 0 10px;
        background: #fff;
        border-radius: 0;
        border: none;
        color: #333;

        ::v-deep span {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 0.52em;
          font-family: $nunito-font-family;
          letter-spacing: 1.1px;

          i {
            font-size: 2em;
          }
        }
      }

      &:hover {
        button {
          background: #fafafa;
        }
      }

      &.opened {
        button {
          background: #d8e9ff;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__additional-links {
    display: flex;
    margin: 10px 0 0 0;

    li {
      padding: 0 15px;

      button {
        padding: 0;
        border: none;
        transition: transform 0.2s ease-out;

        svg {
          height: 22px;
          width: auto;
          fill: #555;
          transition: fill 0.2s ease-out;
        }

        &:hover {
          background: none;
          transform: scale(1.1);

          svg {
            fill: $science-blue;
          }
        }
      }
    }
  }

  &__user-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    min-width: 165px;

    .el-dropdown {
      width: 100%;

      .el-button {
        background: none;
        border: none;
        color: #333;
        padding: 0 10px 0 20px;
        height: $header-bar-height;

        ::v-deep > span {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          h1 {
            margin-left: 10px;
            font-size: 1em;
            letter-spacing: 1.1px;
          }
        }
      }

      &.opened {
        background: #d8e9ff;
      }
    }
  }
}

.el-dropdown-menu {
  font-family: $font-family;
  margin-top: 1px;
  margin-left: 5px;
  min-width: 200px;
  border-radius: 0 0 5px 5px;

  &__item {
    font-size: 0.9em;
    letter-spacing: 1.1px;
    transition-property: background, color;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
  }

  ::v-deep .popper__arrow {
    display: none;
  }

  &.user-menu {
    .el-dropdown-menu__item {
      &:last-of-type {
        color: crimson;
        font-weight: bold;

        &:hover {
          background: transparentize(crimson, 0.9);
        }
      }
    }
  }

  &.company-menu {
    .el-dropdown-menu__item {
      font-size: 0.8em;

      &.selected {
        background: #f2f2f2;
      }
    }
  }
}
</style>
