<template>
  <div :style="{ transform: `scale(${scale})`}" class="logo">
    <div class="top">
    </div>
    <div class="middle"></div>
    <div class="bottom">
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  props: {
    scale: {
      default: 0.5,
      type: Number
    }
  }
})
export default class HeaderBar extends Vue {}
</script>

<style lang="scss" scoped>
.logo {
  position: relative;
  width: 60px;
  margin: auto;
  user-select: none;
  
  > div {
    height: 18px;
    background: #fff;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
  }

  .top,
  .middle {
    border-radius: 30px 0;
  }

  .bottom {
    border-radius: 0 30px;
  }

  &:hover {
    cursor: pointer;
    > div {
      transform: scale(1.1);

      &.middle {
        transition-delay: 0.1s;
      }

      &.bottom {
        transition-delay: 0.15s;
      }
    }
  }
}
</style>