<template>
  <transition
    :enter-active-class="enterClass"
    :leave-active-class="leaveClass"
    appear
  >
    <div class="placeholder">
      <div class="inner">
        <div class="image">
          <slot name="image"></slot>
        </div>
        <p><slot></slot></p>
        <div class="actions">
          <slot name="actions"></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Placeholder extends Vue {
  @Prop({ type: Boolean, default: true })
  animated!: boolean;

  get enterClass() {
    if (this.animated) {
      return "animate__animated animate__fadeInUp";
    }
    return null;
  }

  get leaveClass() {
    if (this.animated) {
      return "animate__animated animate__fadeOut";
    }
    return null;
  }
}
</script>

<style lang="scss" scoped>
.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-duration: 0.3s;

  .inner {
    ::v-deep p {
      display: block;
      margin-bottom: 20px;
      text-align: center;

      h1 {
        font-size: 1.4em;
      }
    }

    .image {
      margin-bottom: 20px;
      text-align: center;

      img {
        height: 80px;
        margin: auto;
      }
    }

    ::v-deep svg {
      height: 80px;
    }

    .actions {
      text-align: center;

      ::v-deep .el-button {
        font-weight: bold;
        font-size: 1em;
        letter-spacing: 1.1px;
        padding: 10px 15px;
      }
    }
  }
}
</style>
