<template>
  <div class="sidebar">
    <div class="slashes">
      <div class="slash"></div>
      <div class="slash"></div>
    </div>
    <router-link to="/" exact class="animate__animated logo">
      <ALogoSvg />
    </router-link>
    <ul>
      <li>
        <router-link to="/" exact><TimeoffSvg /></router-link>
      </li>
      <li>
        <router-link to="/applications"><ListSvg /></router-link>
      </li>
      <li>
        <router-link to="/people"><LeadershipSvg /></router-link>
      </li>
      <li>
        <router-link to="/help"><QuestionSvg /></router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import LeadershipSvg from "@/assets/svgs/leadership.svg";
import TimeoffSvg from "@/assets/svgs/timeoff.svg";
import QuestionSvg from "@/assets/svgs/question.svg";
import ListSvg from "@/assets/svgs/list.svg";
import ALogoSvg from "@/assets/svgs/A-logo.svg";

@Component({
  components: {
    LeadershipSvg,
    TimeoffSvg,
    QuestionSvg,
    ListSvg,
    ALogoSvg
  }
})
export default class Sidebar extends Vue {}
</script>

<style scoped lang="scss">
@import "../assets/styles/variables";

.sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background: $black-pearl;

  .logo {
    position: relative;
    svg {
      fill: #fff;
    }
    &:hover {
      animation-name: heartBeat;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  .slashes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    .slash {
      position: absolute;
      top: 10%;
      left: -100px;
      width: 450px;
      height: 600px;
      transform: rotate(-40deg);
      box-shadow: inset rgba(255, 255, 255, 0.1) 0 30px 50px;

      &:last-of-type {
        top: auto;
        bottom: 0;
        left: -40px;
        width: 200px;
        height: 400px;
        transform: rotate(30deg);
      }
    }
  }

  ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 100%;

      a {
        display: block;
        padding: 15px 0;
        margin: 5px 0;
        text-align: center;
        color: rgba(#fff, 0.9);
        transition-property: background, color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;

        svg {
          height: 25px;
          width: auto;
          fill: rgba(255, 255, 255, 0.7);
          transition-property: fill, transform;
          transition-timing-function: ease-out;
          transition-duration: 0.2s;
        }

        &:hover:not(.router-link-active) {
          color: #fff;

          svg {
            transform: scale(1.2);
            fill: #fff;
          }
        }

        &.router-link-active {
          color: #fff;
          background: rgba(#fff, 0.1);

          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}
</style>
