<template>
  <div class="simple-intro">
    <h1><slot name="title"></slot></h1>
    <p><slot></slot></p>
  </div>
</template>

<style lang="scss" scoped>
@import "../assets/styles/variables";

.simple-intro {
  h1 {
    font-size: 1.4em;
    color: $pickled-bluewood;
  }

  p {
    letter-spacing: 1.1px;
    font-size: 1em;
    font-weight: 200;
    font-family: $nunito-font-family;
  }
}
</style>
