<template>
  <div class="employee-list-holder">
    <div class="employee-list-holder__top">
      <h1>Employees</h1>
      <div class="employee-list-holder__settings">
        <div class="sort-by">
          <ElSelect v-model="sortBy" placeholder="Select">
            <ElOption
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </ElSelect>
          <ElButton @click.prevent="changeSortOrder">
            <transition
              enter-active-class="animate__animated animate__fadeIn"
              leave-active-class="animate__animated animate__fadeOut"
              mode="out-in"
            >
              <SortAlphabeticalAscending v-if="sortOrder == 1" />
              <SortAlphabeticalDescending v-else />
            </transition>
          </ElButton>
        </div>
        <ElButton><FilterOutline /></ElButton>
      </div>
    </div>
    <hr />
    <ul class="employee-list">
      <li
        v-for="(employee, index) in employees"
        :key="employee.id"
        class="employee-list__item"
        ref="employeeRows"
        @mouseover="onRowHover(index)"
        @mouseleave="onRowLeave(index)"
      >
        <ElAvatar size="medium" :style="{ background: getRandomColor(index) }">
          {{ getInitials(employee) }}
        </ElAvatar>
        <div class="details">
          <span class="details__name">
            {{ employee.firstName }} {{ employee.lastName }}
          </span>
          <span class="details__department">{{ employee.department }}</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { Avatar, Button, Select, Option } from "element-ui";
import FilterOutline from "vue-material-design-icons/FilterOutline.vue";
import SortAlphabeticalAscending from "vue-material-design-icons/SortAlphabeticalAscending.vue";
import SortAlphabeticalDescending from "vue-material-design-icons/SortAlphabeticalDescending.vue";

@Component({
  components: {
    ElButton: Button,
    ElAvatar: Avatar,
    ElSelect: Select,
    ElOption: Option,
    FilterOutline,
    SortAlphabeticalAscending,
    SortAlphabeticalDescending
  }
})
export default class EmployeeList extends Vue {
  @Prop({ type: Array, required: true })
  employees!: any[];
  @Prop({ type: Number, default: -1 })
  hoveredIndex!: number;
  private sortOrder = 1;
  private sortBy = "firstName";
  private sortByOptions = [
    { label: "First Name", value: "firstName" },
    { label: "Last Name", value: "lastName" },
    { label: "Department", value: "department" }
  ];

  changeSortOrder() {
    this.sortOrder = this.sortOrder == 1 ? -1 : 1;
  }

  onRowHover(index: number) {
    this.$emit("hover", index);
  }

  onRowLeave(index: number) {
    this.$emit("leave", index);
  }

  @Watch("hoveredIndex")
  onHoveredIndexChanged() {
    this.onRowMouseMove();
  }

  onRowMouseMove() {
    const rows = this.$refs.employeeRows as HTMLElement[];
    rows.forEach(row => row.classList.remove("hovered"));
    if (this.hoveredIndex > -1) {
      const row = rows[this.hoveredIndex];
      if (row) {
        row.classList.add("hovered");
      }
    }
  }

  getRandomColor(index: number) {
    const colors = [
      "#81bbf9",
      "#79df72",
      "#e36dda",
      "#22d46f",
      "#d4c522",
      "#d49622",
      "#22d48a",
      "#8122d4"
    ];
    const cindex =
      index > colors.length - 1 ? index % (colors.length - 1) : index;
    return colors[cindex];
  }

  randomNumber(min: number, max: number) {
    return Math.floor(Math.random() * (max - min) + min);
  }

  getInitials(employee: any) {
    const { firstName, lastName } = employee;
    return `${firstName.substr(0, 1)}${lastName.substr(0, 1)}`;
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables";
.employee-list-holder {
  $self: &;
  display: flex;
  flex-direction: column;
  flex: 1 0 290px;
  box-shadow: rgba(#000, 0.03) 10px 0 11px;

  &__top {
    flex: 0 1 auto;
    padding: 18px 15px 15px 15px;

    h1 {
      font-size: 1.1em;
      text-align: center;
      margin-bottom: 18px;
    }

    #{$self}__settings {
      display: flex;
      justify-content: space-between;

      .el-button {
        border-radius: 3px;
        padding: 4px;
        min-width: 40px;

        ::v-deep > span {
          display: block;
          margin: auto;
          height: 24px;
          width: 24px;

          span {
            display: inline-block;
            height: inherit;

            svg {
              fill: #888;
            }
          }
        }

        &:hover {
          svg {
            fill: $science-blue;
          }
        }
      }

      .sort-by {
        display: flex;

        .el-button {
          border-radius: 0 3px 3px 0;
          border-left: none;
        }

        .el-select {
          width: 150px;

          ::v-deep .el-input__inner {
            border-radius: 3px 0 0 3px;
          }
        }
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid #eee;
    height: 1px;
    flex: 0 1 1px;
    padding: 0;
    margin: 0 15px 11px 15px;
  }

  .employee-list {
    flex: 1 1 auto;
    overflow: auto;

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 20px;
      height: 50px;
      transition: background 0.2s ease-out;

      .el-avatar {
        margin-right: 10px;
        font-weight: bold;
      }

      .details {
        display: flex;
        flex-direction: column;

        span {
          letter-spacing: 1.1px;

          &.details__name {
            font-size: 0.8em;
          }

          &.details__department {
            font-size: 0.8em;
          }
        }
      }

      &:hover,
      &.hovered {
        cursor: pointer;
        background: rgba(#000, 0.05);
      }
    }
  }
}
</style>
