<template>
  <ElPopover
    placement="bottom"
    trigger="click"
    popper-class="month-year-picker-popper"
  >
    <button slot="reference" class="month-changer">
      {{ displayDate }}<i class="el el-icon-date"></i>
    </button>
    <div class="month-year-picker">
      <div class="year-picker">
        <button class="year-picker__previous" @click="selectedYear--">
          <i class="el el-icon-arrow-left"></i>
        </button>
        <span class="year-picker__year">{{ selectedYear }}</span>
        <button class="year-picker__next" @click="selectedYear++">
          <i class="el el-icon-arrow-right"></i>
        </button>
      </div>
      <div class="month-picker">
        <button
          v-for="(name, index) in allMonths"
          :key="name"
          :class="{ selected: selectedMonth == index }"
          class="month-picker__month"
          @click="selectedMonth = index"
        >
          {{ name }}
        </button>
      </div>
    </div>
  </ElPopover>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { Popover } from "element-ui";
import moment, { Moment } from "moment";

@Component({
  components: {
    ElPopover: Popover
  }
})
export default class MonthYearPicker extends Vue {
  @Prop({ type: Number, required: true })
  year!: number;
  @Prop({ type: Number, required: true })
  month!: number;
  @Prop({ type: Object, required: true })
  date!: Moment;

  selectedYear = moment().year();
  selectedMonth = moment().month();

  mounted() {
    this.month = this.selectedMonth;
    this.year = this.selectedYear;
  }

  @Watch("selectedYear")
  onSelectedYearChanged() {
    this.$emit("update:year", this.selectedYear);
  }

  @Watch("selectedMonth")
  onSelectedMonthChanged() {
    this.$emit("update:month", this.selectedMonth);
  }

  get displayDate() {
    return this.date.format("MMMM YYYY");
  }

  get allMonths() {
    return moment.months();
  }
}
</script>

<style scoped lang="scss">
@import "../../assets/styles/variables";

.month-changer {
  display: block;
  margin: auto;
  padding: 5px 13px;
  background: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black-pearl;
  transition: color 0.2s ease-out;

  &:hover {
    cursor: pointer;
    color: $mariner;
  }

  &:active {
    box-shadow: none;
  }

  i {
    margin-left: 5px;
  }
}

.month-year-picker {
  font-family: $font-family;
  width: 290px;

  .year-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;

    button {
      font-size: 1.1em;
      height: 25px;
      background: none;
      border: none;
      border-radius: 2px;
      outline: none;

      &:hover {
        background: #57b146;
        color: #fff;
        cursor: pointer;
      }
    }

    span {
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }
  }

  .month-picker {
    &__month {
      background: none;
      border: none;
      border-radius: 4px;
      width: 90px;
      height: 30px;
      margin: 3px;
      outline: none;
      transition-property: background, color;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3n + 1) {
        margin-left: 0;
      }

      &:hover {
        cursor: pointer;
        background: #9fd4ab;
      }

      &.selected {
        background: #57b146;
        color: #fff;
      }
    }
  }
}
</style>
