<template>
  <div id="app">
    <transition
      name="router-fade"
      enter-active-class="animate__animated animate__fadeIn"
      leave-active-class="animate__animated animate__fadeOut"
      mode="out-in"
    >
      <router-view />
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class App extends Vue {}
</script>

<style lang="scss">
@import "assets/styles/variables";
@import "assets/styles";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

html,
body {
  height: 100%;
}

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $pickled-bluewood;

  > div.animate__animated {
    animation-duration: 0.3s;
  }
}
</style>
