.el-dropdown {
  &.rotating-cog {
    button {
      background: none;
      border: none;
      padding: 0;
      margin-left: 5px;
      animation-duration: 0.3s;

      .material-design-icon {
        display: flex;
        align-items: center;
        transition-property: transform, color;
        transition-timing-function: ease-out;
        transition-duration: 0.25s;

        svg {
          fill: #999;
        }
      }

      &:hover {
        cursor: pointer;

        .material-design-icon {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.el-select-dropdown,
.el-dropdown-menu {
  $self: &;
  font-family: $font-family;

  &.el-popper[x-placement^=bottom] {
    margin-top: 0;

    .popper__arrow {
      display: none;
    }

    .el-select-dropdown__item {
      span {
        font-size: 0.95em;
        letter-spacing: 1.1px;
      }
    }
  }

  &.control-select {
    border-radius: 0 0 3px 3px;
  }

  &.action-options-menu {
    border-radius: 2px;
  
    li {
      letter-spacing: 1.1px;
      transition-property: background, color;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
  
      &:first-child {
        margin-top: 3px;
      }
  
      &:last-of-type {
        color: $froly;
  
        &:hover {
          background: $bridesmaid;
        }
      }
    }
  
    &[x-placement^="bottom"] {
      margin-top: 10px;
      .popper__arrow {
        display: block;
      }
    }
  }
}
