.el-message-box {
  .el-message-box__header {
    padding: 15px 20px 10px 20px;
    font-family: $font-family;

    span {
      font-weight: bold;
      letter-spacing: 1.1px;
    }
  }

  .el-message-box__content {
    padding: 10px 20px 20px 20px;
    font-family: $nunito-font-family;

    .el-message-box__container {
      .el-message-box__message {
        p {
          letter-spacing: 1.1px;
        }
      }
    }
  }

  .el-message-box__btns {
    padding: 5px 20px 10px 20px;
    font-family: $nunito-font-family;

    .el-button {
      font-size: 0.7em;
      font-weight: bold;
      letter-spacing: 1.1px;
    }
  }

  &.delete-confirmation {
    width: 480px;

    .el-message-box__content {
      .el-message-box__container {
        .el-message-box__message {
          p {
            span {
              color: #d4302f;
              background: #faeae6;
              display: block;
              padding: 10px 15px;
              margin-bottom: 10px;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}
