@import "variables";

.el-dialog__wrapper {
  .el-dialog__header {
    h1 {
      font-size: 1.4em;
    }

    p {
      font-size: 0.9em;
    }
  }

  .el-dialog__body {
    padding: 0 20px 10px 20px;
  }

  .el-dialog__footer,
  .footer {
    .el-button {
      min-width: 80px;
      font-family: $nunito-font-family;
      font-weight: bold;
      letter-spacing: 1.1px;
    }
  }

  &.with-slashes {
    .el-dialog {
      overflow: hidden;
    }

    .el-dialog__header {
      position: relative;
      padding: 15px 10px 10px 20px;
      background: $black-pearl;
      letter-spacing: 1.1px;
      font-size: 0.8em;
      overflow: hidden;
  
      h1 {
        color: #fff;
        position: relative;
        z-index: 11;
      }
  
      .el-dialog__headerbtn {
        right: 15px;
        top: 10px;
        z-index: 11;
        font-size: 24px;
  
        .el-dialog__close {
          color: rgba(#fff, 0.6);
          transition: color, 0.2s ease-out;
        }
  
        &:hover {
          .el-dialog__close {
            color: #fff;
          }
        }
      }
  
      &::after,
      &::before {
        content: "";
        z-index: 10;
        position: absolute;
        top: -52px;
        left: 0;
        width: 450px;
        height: 175px;
        transform: rotate(-108deg);
        box-shadow: inset rgba(255, 255, 255, 0.1) 0 30px 50px;
      }
  
      &::before {
        top: -93px;
        bottom: 0;
        left: 45px;
        width: 200px;
        height: 400px;
        transform: rotate(80deg);
      }
    }
  }
}
