.month-year-picker-popper.el-popper[x-placement^=bottom] {
  .popper__arrow {
    top: -13px;
    border-width: 13px;
    border-top-width: 0;

    &::after {
      top: -12px;
      margin-left: -13px;
      border-top-width: 0;
      border-width: 13px;
    }
  }
}
