.el-tabs {
  $self: &;

  & &__header {
    margin: 0;

    #{$self}__nav-wrap {
      #{$self}__nav-scroll {
        #{$self}__nav {
          .el-tabs__item {
            letter-spacing: 1.1px;
          }
        }
      }
    }
  }
}