// dimensions
$sidebar-width: 65px;
$header-bar-height: 50px;


// colors
$black-pearl: #051e34;
$pickled-bluewood: #2C3E50;
$mariner: #2c71cc;
$catskill-white: #f9fafc;
$zircon: #fafbff;
$science-blue: #0052cb;
$apple: #67c23a;
$froly: #f56c6c;
$bridesmaid: #fef0f0;

// fonts
$font-family: Avenir, Helvetica, Arial, sans-serif;
$nunito-font-family: 'Nunito', sans-serif;
