<template>
  <form>
    <ElDialog
      :visible.sync="dialogOpen"
      :modal-append-to-body="false"
      :show-close="false"
      :close-on-click-modal="false"
      @closed="onClose"
      width="350px"
    >
      <template v-slot:title>
        <SimpleIntro>
          <template v-slot:title>Create a new department</template>
          Departments help to organize and add structure to any organization. It
          also makes leave management a lil' easier as well.
        </SimpleIntro>
      </template>
      <ControlHolder label="Name">
        <ElInput v-model="dto.name" />
      </ControlHolder>
      <ControlHolder label="Has parent department?" type="switch">
        <ElSwitch v-model="hasParent" />
      </ControlHolder>
      <transition
        enter-active-class="animate__animated animate__fadeIn"
        leave-active-class="animate__animated animate__fadeOut"
      >
        <ControlHolder label="Parent department" type="select" v-if="hasParent">
          <ElSelect
            v-model="dto.parent"
            placeholder="Select an option"
            popper-class="control-select"
          >
            <ElOption
              v-for="item in departments"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </ElSelect>
        </ControlHolder>
      </transition>
      <template slot="footer">
        <ElButton @click="dialogOpen = false">Cancel</ElButton>
        <ElButton type="success" plain @click="onSave">
          {{ dto.id ? "Update" : "Save" }}
        </ElButton>
      </template>
    </ElDialog>
  </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import * as _ from "lodash";
import { Button, Dialog, Input, Switch, Select, Option } from "element-ui";
import ControlHolder from "@/components/ControlHolder.vue";
import SimpleIntro from "@/components/SimpleIntro.vue";
import DepartmentDTO from "@/models/dtos/department.dto";
import IDepartment from "@/models/interfaces/department.interface";
import DepartmentService from "@/services/department.service";

@Component({
  components: {
    ElButton: Button,
    ElDialog: Dialog,
    ElInput: Input,
    ElSwitch: Switch,
    ElSelect: Select,
    ElOption: Option,
    ControlHolder,
    SimpleIntro
  }
})
export default class DepartmentForm extends Vue {
  @Prop({ type: Object, default: () => new DepartmentDTO() })
  value!: DepartmentDTO;
  @Prop({ type: Array, default: () => [] })
  departments!: IDepartment[];
  @Prop({ type: Boolean, required: true })
  visible = false;
  dialogOpen = false;
  hasParent = false;
  dto = new DepartmentDTO();

  @Watch("value")
  onValueChange() {
    if (this.value) {
      this.dto = _.clone(this.value);
    }
    this.hasParent = !!this.dto.parent;
  }

  @Watch("visible")
  onVisibleChanged() {
    this.dialogOpen = this.visible;
  }

  @Watch("dialogOpen")
  onDialogOpenChanged() {
    this.$emit("update:visible", this.dialogOpen);
  }

  onClose() {
    this.dto = new DepartmentDTO();
  }

  async onSave() {
    await DepartmentService.addOrUpdate(this.dto);
    this.dialogOpen = false;
  }
}
</script>

<style lang="scss" scoped>
.control-holder {
  &__switch {
    justify-content: space-between;
  }
}
</style>
