<template>
  <div class="departments" v-if="loaded">
    <SimpleIntro>
      <template v-slot:title>Departments</template>
      Create your departments
    </SimpleIntro>
    <transition enter-active-class="animate__animated animate__fadeIn">
      <ul :key="listKey">
        <li v-if="parent" class="parent-title">
          <button @click.prevent="onBack">
            <ArrowLeft />
          </button>
          <span>{{ parent.name }}</span>
        </li>
        <li
          v-else
          :class="{ selected: !selectedDepartment }"
          @click="selectedDepartment = null"
        >
          <span>All Departents</span>
          <transition
            enter-active-class="animate__animated animate__fadeInUp"
            leave-active-class="animate__animated animate__fadeOutDown"
          >
            <CheckCircle v-if="!selectedDepartment" />
          </transition>
        </li>
        <li
          v-for="department in currentList"
          :key="department.id"
          :class="{ selected: selectedDepartment === department.id }"
          @click="selectedDepartment = department.id"
        >
          <div class="inner">
            <span>{{ department.name }}</span>
            <ElBadge
              v-if="department.count"
              :value="department.count"
              type="primary"
            />
          </div>
          <div class="actions">
            <transition
              enter-active-class="animate__animated animate__fadeInUp"
              leave-active-class="animate__animated animate__fadeOutDown"
            >
              <CheckCircle v-if="selectedDepartment === department.id" />
            </transition>
            <ElDropdown
              trigger="click"
              class="rotating-cog"
              @command="handleDepartmentMenuCommand($event, department)"
            >
              <button
                class="animate__animated animate__slideInRight"
                @click.stop
              >
                <CogOutline />
              </button>
              <ElDropdownMenu slot="dropdown" class="action-options-menu">
                <ElDropdownItem command="edit">Edit</ElDropdownItem>
                <ElDropdownItem command="positions">
                  Manage Positions
                </ElDropdownItem>
                <ElDropdownItem command="delete" divided>Delete</ElDropdownItem>
              </ElDropdownMenu>
            </ElDropdown>
          </div>
        </li>
      </ul>
    </transition>
    <transition enter-active-class="animate__animated animate__fadeInUp" appear>
      <ElButton
        type="success"
        icon="el-icon-plus"
        class="adder-button"
        plain
        circle
        @click="dialogVisible = true"
      />
    </transition>
    <DepartmentForm
      :value="departmentDto"
      :visible.sync="dialogVisible"
      :departments="list"
    />
    <PositionManager
      :department="departmentForPosition"
      :visible.sync="positionDialogVisible"
    />
  </div>
</template>

<script lang="ts">
import { Component, Watch } from "vue-property-decorator";
import {
  Button,
  Badge,
  Dropdown,
  DropdownMenu,
  DropdownItem,
  MessageBox
} from "element-ui";
import BaseMixin from "@/components/mixins/base.mixin";
import SimpleIntro from "@/components/SimpleIntro.vue";
import DepartmentForm from "./DepartmentForm.vue";
import PositionManager from "./PositionManager.vue";
import CheckCircle from "vue-material-design-icons/CheckCircle.vue";
import CogOutline from "vue-material-design-icons/CogOutline.vue";
import ArrowLeft from "vue-material-design-icons/ArrowLeft.vue";
import IDepartment from "@/models/interfaces/department.interface";
import { db } from "@/configs/firestore";
import DepartmentDTO from "@/models/dtos/department.dto";
import DepartmentService from "@/services/department.service";

@Component({
  components: {
    ElButton: Button,
    ElBadge: Badge,
    ElDropdown: Dropdown,
    ElDropdownMenu: DropdownMenu,
    ElDropdownItem: DropdownItem,
    SimpleIntro,
    DepartmentForm,
    PositionManager,
    CheckCircle,
    CogOutline,
    ArrowLeft
  }
})
export default class DepartmentList extends BaseMixin<IDepartment> {
  selectedDepartment: string | null = null;
  departmentForPosition: IDepartment | null = null;
  dialogVisible = false;
  positionDialogVisible = false;
  listKey = 0;
  departmentDto: DepartmentDTO | null = null;

  get currentDepartment() {
    return this.list?.find(item => item.id === this.selectedDepartment);
  }

  get currentList() {
    const children = this.list?.filter(
      item => item.parent && item.parent === this.selectedDepartment
    );
    if (this.selectedDepartment && children && children.length > 0) {
      return this.formatList(children);
    }
    if (this.currentDepartment && this.currentDepartment.parent) {
      return this.formatList(
        this.list?.filter(
          item => item.parent === this.currentDepartment?.parent
        )
      );
    }
    return this.formatList(this.list?.filter(item => !item.parent));
  }

  get parent() {
    if (this.selectedDepartment && this.currentDepartmentHasChildren) {
      return this.list?.find(item => item.id === this.selectedDepartment);
    }
    if (this.currentDepartment && this.currentDepartment.parent) {
      return this.list?.find(
        item => item.id === this.currentDepartment?.parent
      );
    }
    return null;
  }

  get currentDepartmentHasChildren() {
    const children = this.list?.filter(
      item => item.parent && item.parent === this.selectedDepartment
    );
    return children && children.length > 0;
  }

  @Watch("selectedDepartment")
  onSelectedDepartmentChanged() {
    if (this.currentDepartmentHasChildren) {
      this.listKey++;
    }
  }

  onBack() {
    if (this.parent && this.parent.parent) {
      this.selectedDepartment = this.parent.parent;
    } else {
      this.selectedDepartment = null;
    }
  }

  async handleDepartmentMenuCommand(event: string, department: IDepartment) {
    switch (event) {
      case "edit":
        this.departmentDto = department as DepartmentDTO;
        this.dialogVisible = true;
        break;
      case "positions":
        this.departmentForPosition = department;
        this.positionDialogVisible = true;
        break;
      default:
        await this.deleteDepartment(department.id);
        break;
    }
  }

  async deleteDepartment(id: string) {
    const department = this.list?.find(item => item.id === id);
    if (department) {
      try {
        await MessageBox.confirm(
          `
            <span>
              This will permanently remove the department and will affect any
              sub-departments or employees assiged to it.
            </span>
            Are you sure you want to delete the <b>${department.name}</b>
            department?
          `,
          "Delete Department",
          {
            confirmButtonText: "Yes, delete it",
            confirmButtonClass: "el-button--danger is-plain",
            cancelButtonText: "Cancel",
            dangerouslyUseHTMLString: true,
            showClose: false,
            customClass: "delete-confirmation"
          }
        );
        DepartmentService.delete(id);
      } catch (error) {
        return;
      }
    }
  }

  setupData(wait = false) {
    this.$bind(
      "list",
      db
        .collection("companies")
        .doc(this.companyId)
        .collection("departments"),
      { wait }
    );
  }

  private formatList(departments: IDepartment[] | undefined) {
    if (!departments) {
      return [];
    }
    return departments.map(item => {
      return {
        ...item,
        id: item.id,
        count: this.list?.filter(d => d.parent === item.id).length
      };
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables";

.departments {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 300px;
  height: 100%;
  border-right: 1px solid #eee;

  .el-button.adder-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -25px;
    transition-property: transform, background;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .simple-intro {
    flex: 0 1 auto;
    padding: 20px;
  }

  ul {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
    --animate-duration: 0.35s;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.95em;
      letter-spacing: 1.1px;
      padding: 12px 15px 12px 20px;
      min-height: 50px;
      border-bottom: 1px solid #eee;
      cursor: default;
      transition-property: box-shadow, color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
      overflow: hidden;

      .inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .el-badge {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 5px;

        ::v-deep .el-badge__content {
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .check-circle-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation-duration: 0.2s;

        svg {
          fill: $apple;
        }
      }

      .actions {
        display: flex;
        justify-content: center;
        align-items: center;

        .el-dropdown {
          display: flex;
        }
      }

      &.parent-title {
        padding-left: 15px;
        justify-content: flex-start;

        button {
          border: none;
          padding: 0;
          margin-right: 15px;
          background: none;
          outline: none;

          .material-design-icon {
            display: flex;
            align-items: center;

            svg {
              transition-property: transform, color;
              transition-timing-function: ease-out;
              transition-duration: 0.25s;
            }
          }

          &:hover {
            cursor: pointer;

            svg {
              fill: $mariner;
              transform: scale(1.1);
            }
          }
        }

        span {
          font-weight: bold;
        }
      }

      &:hover {
        cursor: pointer;
        position: relative;
        z-index: 10;
        color: #000;
        box-shadow: rgba(#000, 0.05) 0 1px 3px;
      }

      &.selected {
        color: #000;
        font-weight: bold;
      }
    }
  }
}
</style>
