<template>
  <form>
    <ElDialog
      :visible.sync="dialogOpen"
      :modal-append-to-body="false"
      :show-close="false"
      :close-on-click-modal="false"
      @closed="onClose"
      width="850px"
    >
      <div class="left">
        <div class="inner">
          <SimpleIntro>
            <template v-slot:title>Managing an employee</template>
            Easily create and an employee along with his basic time-off package.
            Certain statuses can also affect whether or not a Leave Type is
            is activated for employees as well.
            <br />
            All the information stored on you employees are only visible to you
            and are never shared with anyone else.
          </SimpleIntro>
        </div>
        <img :src="require('@/assets/images/teamwork3.png')" alt="teamwork" />
      </div>
      <div class="right">
        <SimpleIntro>
          <template v-slot:title>
            {{ !dto.id ? "Add a new" : "Update" }} employee
          </template>
        </SimpleIntro>
        <ElTabs v-model="activeTab">
          <ElTabPane label="Basic" name="basic">
            <ElRow :gutter="15">
              <ElCol :span="10">
                <ControlHolder label="First Name">
                  <ElInput v-model="dto.firstName" />
                </ControlHolder>
              </ElCol>
              <ElCol :span="4">
                <ControlHolder label="M.I.">
                  <ElInput v-model="dto.middleInitials" />
                </ControlHolder>
              </ElCol>
              <ElCol :span="10">
                <ControlHolder label="Last Name">
                  <ElInput v-model="dto.lastName" />
                </ControlHolder>
              </ElCol>
            </ElRow>
            <ElRow>
              <ElCol>
                <ControlHolder label="Address Line 1">
                  <ElInput v-model="dto.address.line1" />
                </ControlHolder>
              </ElCol>
            </ElRow>
            <ElRow>
              <ElCol>
                <ControlHolder label="Address Line 2">
                  <ElInput v-model="dto.address.line2" />
                </ControlHolder>
              </ElCol>
            </ElRow>
            <ElRow :gutter="10">
              <ElCol :span="12">
                <ControlHolder label="Country" type="select">
                  <ElSelect
                    v-model="dto.address.country"
                    :filterable="true"
                    :autocomplete="`country_${timestamp}`"
                    placholder="Select"
                  >
                    <ElOption
                      v-for="item in countryOptions"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></ElOption>
                  </ElSelect>
                </ControlHolder>
              </ElCol>
              <ElCol :span="12">
                <ControlHolder :label="divisionLabel" type="select">
                  <ElInput v-if="isDivision" v-model="dto.address.division" />
                  <ElSelect
                    v-else
                    v-model="dto.address.division"
                    :filterable="true"
                    :disabled="!hasCountry"
                    :autocomplete="`division_${timestamp}`"
                    placholder="Select"
                  >
                    <ElOption
                      v-for="item in divisionOptions"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></ElOption>
                  </ElSelect>
                </ControlHolder>
              </ElCol>
            </ElRow>
            <ElRow :gutter="10">
              <ElCol :span="12">
                <ControlHolder label="City">
                  <ElInput v-model="dto.address.city" />
                </ControlHolder>
              </ElCol>
              <ElCol :span="12">
                <ControlHolder label="Postal Code">
                  <ElInput v-model="dto.address.postalCode" />
                </ControlHolder>
              </ElCol>
            </ElRow>
          </ElTabPane>
          <ElTabPane label="Contact" name="contact">
            <ul class="dynamic-list emails">
              
            </ul>
          </ElTabPane>
          <ElTabPane label="Work" name="work">Work</ElTabPane>
          <ElTabPane label="Time-off" name="time-off">Time-off</ElTabPane>
        </ElTabs>
        <div class="footer">
          <ElButton @click="dialogOpen = false">Cancel</ElButton>
          <ElButton type="success" plain @click="onSave">
            {{ dto.id ? "Update" : "Save" }}
          </ElButton>
        </div>
      </div>
    </ElDialog>
  </form>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import {
  Button,
  Dialog,
  Input,
  Switch,
  Select,
  Option,
  Row,
  Col,
  Tabs,
  TabPane
} from "element-ui";
import ControlHolder from "@/components/ControlHolder.vue";
import SimpleIntro from "@/components/SimpleIntro.vue";
import DialogMixin from "@/components/mixins/dialog.mixin";
import EmployeeDTO from "@/models/dtos/employee.dto";
import EmployeeService from "@/services/employee.service";
import AddressService from "@/services/address.service";

@Component({
  components: {
    ElButton: Button,
    ElDialog: Dialog,
    ElInput: Input,
    ElSwitch: Switch,
    ElSelect: Select,
    ElOption: Option,
    ElRow: Row,
    ElCol: Col,
    ElTabs: Tabs,
    ElTabPane: TabPane,
    ControlHolder,
    SimpleIntro
  }
})
export default class EmployeeForm extends DialogMixin<EmployeeDTO> {
  dto = new EmployeeDTO();
  activeTab = "basic";

  onClose() {
    this.dto = new EmployeeDTO();
  }

  private get timestamp() {
    return new Date().getTime();
  }

  private get hasCountry() {
    return !!this.dto.address.country;
  }

  private get isDivision() {
    return AddressService.isDivision(this.divisionLabel);
  }

  private get divisionLabel() {
    return AddressService.getDivisionLabel(this.dto.address.country);
  }

  private get countryOptions() {
    return AddressService.getCountries();
  }

  private get divisionOptions() {
    return AddressService.getDivisions(this.dto.address.country);
  }

  async onSave() {
    await EmployeeService.addOrUpdate(this.dto);
    this.dialogOpen = false;
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables";

.el-dialog__wrapper {
  ::v-deep .el-dialog__header {
    padding: 0;
  }

  ::v-deep .el-dialog__body {
    display: flex;
    padding: 0;

    .left {
      position: relative;
      display: flex;
      align-items: center;
      flex: 0 1 400px;
      min-width: 400px;
      padding: 70px;
      background: $black-pearl;

      .inner {
        z-index: 100;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .simple-intro {
          padding: 0 30px;
          text-align: center;

          h1 {
            color: #fff;
            margin-bottom: 10px;
          }

          p {
            color: #fff;
            word-break: keep-all;
            font-size: 1.2em;
          }
        }
      }

      img {
        width: 100%;
        opacity: 0.15;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 20px 25px;


      .simple-intro {
        flex: 0 1 auto;
      }

      .el-tabs {
        flex: 1 1 auto;
      }

      .footer {
        display: flex;
        justify-content: flex-end;
        flex: 0 1 auto;
        margin-top: 20px;
      }
    }
  }
}
</style>
