<template>
  <div class="people-list" v-if="loaded">
    <transition
      enter-active-class="animate__animated animate__fadeIn"
      leave-active-class="animate__animated animate__fadeOut"
      appear
      mode="out-in"
    >
      <Placeholder v-if="!hasData">
        <template v-slot:image>
          <TeamSvg />
        </template>
        <h1>There are currently no employees</h1>
        Add your first person to start building your amazing team
        <template v-slot:actions>
          <ElButton type="primary">Add an Employee</ElButton>
        </template>
      </Placeholder>
      <div class="inner" v-else>
        <div class="top">
          <SimpleIntro>
            <template v-slot:title>Manage People</template>
            Quickly add and manage employee data
          </SimpleIntro>
          <ElButton
            type="success"
            plain
            icon="el-icon-plus"
            @click="dialogVisible = true"
          >
            Create Employee
          </ElButton>
        </div>
        <el-table :data="list" style="width: 100%">
          <ElTableColumn
            prop="firstName"
            label="First Name"
            min-width="150px"
          />
          <ElTableColumn prop="middleInitials" label="M.I." min-width="80px" />
          <ElTableColumn prop="lastName" label="Last Name" width="150px" />
          <ElTableColumn
            prop="gender"
            label="Gender"
            align="center"
            min-width="140px"
          >
            <template slot-scope="scope">
              {{ properCase(GenderEnum[scope.row.gender]) }}
            </template>
          </ElTableColumn>
          <ElTableColumn
            prop="married"
            label="Married"
            align="center"
            min-width="130px"
          >
            <template slot-scope="scope">
              <CheckCircle v-if="scope.row.married" />
              <CloseCircle v-else />
            </template>
          </ElTableColumn>
          <ElTableColumn
            prop="status"
            label="Status"
            align="center"
            min-width="130px"
          >
            <template slot-scope="scope">
              <ElTag :type="getStatusTagType(scope.row.status)">
                {{ properCase(StatusEnum[scope.row.status]) }}
              </ElTag>
            </template>
          </ElTableColumn>
          <ElTableColumn
            prop="department.name"
            label="Department"
            min-width="180px"
          />
          <ElTableColumn
            prop="position.name"
            label="Position"
            min-width="180px"
          />
          <ElTableColumn fixed="right" min-width="70">
            <template>
              <CogOutline />
            </template>
          </ElTableColumn>
        </el-table>
        <ElPagination
          :hide-on-single-page="true"
          :total="5"
          layout="prev, pager, next"
        />
      </div>
    </transition>
    <EmployeeForm :visible.sync="dialogVisible" />
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { Button, Table, TableColumn, Tag, Pagination } from "element-ui";
import BaseMixin from "@/components/mixins/base.mixin";
import Placeholder from "@/components/Placeholder.vue";
import SimpleIntro from "@/components/SimpleIntro.vue";
import EmployeeForm from "./EmployeeForm.vue";
import CheckCircle from "vue-material-design-icons/CheckCircle.vue";
import CloseCircle from "vue-material-design-icons/CloseCircle.vue";
import CogOutline from "vue-material-design-icons/CogOutline.vue";
import TeamSvg from "@/assets/svgs/team.svg";
import IEmployee from "@/models/interfaces/employee.interface";
import IStats from "@/models/interfaces/stats.interface";
import { Gender, Status } from "@/models/enums/employee";
import { db, FieldPath, FieldValue } from "@/configs/firestore";

@Component({
  components: {
    ElButton: Button,
    ElTable: Table,
    ElTableColumn: TableColumn,
    ElTag: Tag,
    ElPagination: Pagination,
    Placeholder,
    SimpleIntro,
    EmployeeForm,
    CheckCircle,
    CloseCircle,
    CogOutline,
    TeamSvg
  }
})
export default class PeopleList extends BaseMixin<IEmployee> {
  stats: IStats | null = null;
  GenderEnum = Gender;
  StatusEnum = Status;
  dialogVisible = false;

  getStatusTagType(status: Status) {
    switch (status) {
      case Status.ACTIVE:
        return "success";
      case Status.INACTIVE:
        return "danger";
      case Status.SUSPENDED:
        return "warning";
      default:
        return "primary";
    }
  }

  setupData(wait = false) {
    this.$bind(
      "stats",
      db
        .collection("companies")
        .doc(this.companyId)
        .collection("employees")
        .doc("--stats--"),
      { wait }
    );
    this.$bind(
      "list",
      db
        .collection("companies")
        .doc(this.companyId)
        .collection("employees")
        .where(FieldPath.documentId(), "!=", "--stats--"),
      { wait }
    );
  }

  addEmployee() {
    const batch = db.batch();
    const employeeRef = db
      .collection("companies")
      .doc(this.companyId)
      .collection("employees")
      .doc();
    const statsRef = db
      .collection("companies")
      .doc(this.companyId)
      .collection("employees")
      .doc("--stats--");
    const increment = FieldValue.increment(1);
    batch.set(employeeRef, { test: "" });
    batch.set(statsRef, { count: increment }, { merge: true });
    batch.commit();
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables";

.people-list {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;

  .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    animation-duration: 0.2s;
    overflow: hidden;
  }

  .top {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .el-button {
      text-transform: uppercase;
      letter-spacing: 1.1px;
      font-weight: bold;
      border-radius: 2px;
    }
  }

  .el-table {
    flex: 1 1 auto;
    border-top: 1px solid #eee;

    ::v-deep .el-table__fixed-right {
      box-shadow: none;
      background: #fcfcfc;
      border-left: 1px solid #eee;
    }

    ::v-deep .el-table__header-wrapper,
    ::v-deep .el-table__fixed-header-wrapper {
      .el-table__header {
        th {
          background: #fbfdff;

          div {
            padding: 0 20px;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            font-size: 0.85em;
            font-family: $nunito-font-family;
          }
        }
      }
    }
    ::v-deep .el-table__body-wrapper,
    ::v-deep .el-table__fixed-body-wrapper {
      .el-table__body {
        tr {
          td {
            div {
              display: flex;
              align-items: center;
              padding: 0 20px;
              letter-spacing: 1.05px;
              font-size: 1.02em;
              font-family: $nunito-font-family;

              .material-design-icon {
                display: inline-block;
                height: 24px;

                &.check-circle-icon {
                  svg {
                    fill: $apple;
                  }
                }

                &.close-circle-icon {
                  svg {
                    fill: $froly;
                  }
                }
              }

              .el-tag {
                height: 28px;
                line-height: 27px;
                border-radius: 3px;
                font-weight: bold;

                &.el-tag--success {
                  border-color: lighten($apple, 15%);
                }
              }

              .el-button {
                width: 90px;
                font-weight: bold;
                letter-spacing: 1.1px;
                border-radius: 2px;
              }
            }
            &.is-center {
              div {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .el-pagination {
    flex: 0 1 auto;
  }
}
</style>
