<template>
  <ElDialog
    v-if="department"
    :visible.sync="dialogOpen"
    :modal-append-to-body="false"
    width="350px"
    class="with-slashes"
    @closed="onClose"
    @opened="onOpened"
  >
    <template v-slot:title>
      <h1>{{ department.name }}</h1>
    </template>
    <div class="adder">
      <input
        v-model="position"
        placeholder="enter position name"
        @keydown.enter="addPosition"
      />
      <ElButton slot="append" icon="el-icon-plus" />
    </div>
    <transition-group
      tag="ul"
      class="list"
      enter-active-class="animate__animated animate__fadeIn"
    >
      <li v-for="position in positions" :key="position.id">
        <div
          contenteditable
          @keypress.enter="triggerBlur"
          @blur="updatePosition($event, position.id)"
        >
          {{ position.name }}
        </div>
        <button @click.prevent="deletePosition(position.id)"><Close /></button>
      </li>
    </transition-group>
  </ElDialog>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import {
  Button,
  Dialog,
  Dropdown,
  DropdownMenu,
  DropdownItem
} from "element-ui";
import Close from "vue-material-design-icons/Close.vue";
import IDepartment from "@/models/interfaces/department.interface";
import IPosition from "@/models/interfaces/position.interface";
import { db } from "@/configs/firestore";

@Component({
  components: {
    ElButton: Button,
    ElDialog: Dialog,
    ElDropdown: Dropdown,
    ElDropdownMenu: DropdownMenu,
    ElDropdownItem: DropdownItem,
    Close
  }
})
export default class PositionManager extends Vue {
  @Prop({ type: Object })
  department!: IDepartment;
  @Prop({ type: Boolean, required: true })
  visible = false;
  dialogOpen = false;
  position = "";
  positions: IPosition[] = [];

  get hasData() {
    return this.positions && this.positions.length > 0;
  }

  @Watch("value")
  onValueChange() {
    this.dialogOpen = this.visible;
  }

  @Watch("visible")
  onVisibleChanged() {
    this.dialogOpen = this.visible;
  }

  @Watch("dialogOpen")
  onDialogOpenChanged() {
    this.$emit("update:visible", this.dialogOpen);
  }

  async addPosition() {
    const name = this.position;
    this.position = "";
    await db
      .collection("companies")
      .doc(this.$store.state.companyId)
      .collection("departments")
      .doc(this.department.id)
      .collection("positions")
      .doc()
      .set({ name });
  }

  async updatePosition(event: Event, id: string) {
    const elm = event.target as HTMLElement;
    await db
      .collection("companies")
      .doc(this.$store.state.companyId)
      .collection("departments")
      .doc(this.department.id)
      .collection("positions")
      .doc(id)
      .set({ name: elm.textContent }, { merge: true });
  }

  triggerBlur(event: Event) {
    const elm = event.target as HTMLElement;
    elm.blur();
  }

  async deletePosition(id: string) {
    await db
      .collection("companies")
      .doc(this.$store.state.companyId)
      .collection("departments")
      .doc(this.department.id)
      .collection("positions")
      .doc(id)
      .delete();
  }

  bindList() {
    this.$bind(
      "positions",
      db
        .collection("companies")
        .doc(this.$store.state.companyId)
        .collection("departments")
        .doc(this.department.id)
        .collection("positions")
    );
  }

  onClose() {
    this.$unbind("positions");
    this.positions = [];
  }

  onOpened() {
    this.bindList();
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables";

.el-dialog__wrapper {
  ::v-deep .el-dialog {
    overflow: hidden;
  }

  ::v-deep .el-dialog__body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    max-height: 450px;
    padding-top: 20px;

    .adder {
      display: flex;
      flex: 0 1 auto;
      justify-content: space-between;

      input {
        flex: 1 1 auto;
        border-radius: 3px 0 0 3px;
        border: none;
        padding: 0;
        letter-spacing: 1.1px;
        font-family: $nunito-font-family;
        outline: none;
      }

      .el-button {
        border-radius: 0 3px 3px 0;
        padding: 12px 0;
        border: none;
        background: none;

        button {
          padding: 12px 10px 12px 20px;
        }

        &:hover {
          i {
            color: $apple;
          }
        }
      }
    }

    .list {
      flex: 1 1 auto;
      margin: 10px -20px;
      border-top: 1px solid #eee;
      overflow: auto;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px 20px;
        border-bottom: 1px solid #eee;
        transition: transform 0.2s ease-out;

        div {
          flex: 1 1 auto;
          font-size: 1em;
          letter-spacing: 1.1px;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: none;

          .material-design-icon {
            display: inline-block;
            height: 22px;

            svg {
              fill: $froly;
              height: inherit;
              width: auto;
            }
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            fill: red;
          }
        }
      }
    }
  }
}

.action-options-menu {
  li {
    line-height: 26px;
  }
}
</style>
