<template>
  <transition enter-active-class="animate__animated animate__fadeIn" appear>
    <div class="login">
      <div class="logo-with-name">
        <ALogoSvg />
        <span>AWAL</span>
      </div>
      <div class="login__box">
        <h1 class="login__title">Log in to your account</h1>
        <form @submit.prevent="onFormSubmit">
          <div class="input-holder">
            <ElInput placeholder="Enter your email" v-model="username" />
          </div>
          <div class="input-holder">
            <ElInput placeholder="Enter your password" v-model="password" />
          </div>
          <ElButton type="primary" native-type="submit">Continue</ElButton>
        </form>
        <h1 class="login__or-divider">or</h1>
        <ElButton class="login__continue-google" @click="loginWithGoogle">
          <GoogleLogoSvg /> Continue with Google
        </ElButton>
        <hr />
        <div class="login__links">
          <router-link to="/reset-password">Can't get in?</router-link>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Input, Button } from "element-ui";
import GoogleLogoSvg from "@/assets/svgs/google-logo.svg";
import ALogoSvg from "@/assets/svgs/A-logo.svg";

@Component({
  components: {
    ElInput: Input,
    ElButton: Button,
    GoogleLogoSvg,
    ALogoSvg
  }
})
export default class Login extends Vue {
  private username = "";
  private password = "";
  private errorSummary: string | null = null;
  private rememberMe = true;
  private loading = false;

  onFormSubmit() {
    console.log("yah!");
  }

  loginWithGoogle() {
    this.$store.dispatch("auth/loginWithGoogleAuthProvider");
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables";
.login {
  $self: &;
  padding-top: 40px;

  .logo-with-name {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      height: 100px;
      width: auto;
    }

    span {
      font-size: 1.8em;
      font-weight: bold;
      letter-spacing: 1.1px;
    }
  }

  &__box {
    margin: 10px auto;
    padding: 30px 40px;
    width: 400px;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(#000, 0.1) 0 0 10px;

    #{$self}__title {
      font-size: 1.05em;
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      .input-holder {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .el-input {
          ::v-deep input {
            border-radius: 0;
            border-width: 2px;
            font-weight: bold;
            height: 45px;
          }
        }
      }

      .el-button {
        width: 100%;
        font-weight: bold;
        font-size: 1em;
        background: lighten($science-blue, 5%);
        border-color: $science-blue;
        border-radius: 3px;
        transition-property: banckground transform;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;

        &:hover {
          background: $science-blue;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    #{$self}__or-divider {
      color: #666;
      font-size: 0.8em;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      margin: 15px 0;
    }

    #{$self}__continue-google {
      width: 100%;
      font-weight: bold;
      font-size: 1em;
      box-shadow: rgba(#000, 0.08) 0 0 10px;
      border-radius: 3px;
      transition-property: background, box-shadow, transform;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;

      ::v-deep span {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          height: 20px;
          margin-right: 5px;
        }
      }

      &:hover {
        box-shadow: none;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    hr {
      border: none;
      height: 1px;
      margin: 30px 0 10px 0;
      background: #ddd;
    }

    #{$self}__links {
      text-align: center;
      a {
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: $science-blue;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>
